@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

*{
    padding: 0%;margin: 0%;
    font-family: 'Roboto Slab';
}


html{height: 100%;}


body{
    height: 100%;
     background-color: rgb(153, 153, 153); 
}

.MAIN{    margin-right: 5%; 
    margin-left: 5%; 
    width: 90%;}


li {
    list-style-type: none;
}


header, .home,.aboutMe,.mySkills ,#BurgerMenu ,.aboutMeSectionOne ,.aboutMeSectionTwo ,.myIntrestsContainer ,.skillsBox ,.skillsBox:not(:first-child) ,.myProjects ,.contact {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 25px;
}


h2{padding: 50px; font-size: 35px;}



header {
    background-color: white;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    
}
#Logo{
    display: inline-block;
    z-index: 99999;
    position: absolute;
    height: 200px;
    top : 22px;
    left: 5%;
}

header nav{
    display: flex;
    justify-content: center;
    text-align: center;
}
#BurgerMenu{
    display: inline-block;
    justify-content: center;
    text-align: center;
}

header a{
    padding: 5%;
    font-size:x-large;
    color: black;
    text-decoration: none;
}

#burger{
    display: none;
}

.navJs{
    display: grid;
grid-column: 2;
grid-row: 1;
padding-top: 200%;


}

.bodyJs{

position: fixed;
width: -moz-available;
}


.headerJs{
    background-color: rgba(0, 0, 255, 0.418);
    height: 100%;
    transition: 0.45s ease-in;
}

nav a.elemntPadding{
    padding-top: 20px;
}
@media screen and (max-width: 768px) {

    #burger{
        display: inline-block;
        width: 100%;
        height: 0px;
    }
    

 
    header nav{
        display: none;
    }
    #BurgerMenu{
        display: inline-block;
        position: relative;
        z-index: 997;
        width: 100%;
        padding-bottom: 10px;
        transform: translatey(-87%);
        background-color: rgba(255, 255, 255);
        transition:  transform .5s ease-in-out , background-color 0.5s ease-in-out;
    }
    #BurgerMenu div {
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 20px;
        width: auto;
        flex-direction: column;

    }
    #BurgerIcon{
            display: inline-block;
            z-index: 99999;
            position: absolute;
            height: 30px;
            width: 30px;
            top: 15px;
            right: 5%;
            transition: transform .5s;
            transform: rotate(0deg);
       }
    
    #BurgerIcon:hover ~ #BurgerMenu{
        transform: translatey(0%);
        background-color: rgb(125, 70, 255,1);
    }
   #BurgerIcon:hover{
       transform: rotate(90deg);
    }
    /*
    header{
        grid-template-rows: 100px;
        height: 10%;
        z-index: 9999;
    }
    header nav a{
        padding-top: 20px;
        color: black;
        ;
        
    }*/


}

#profile{
    width:200px;
    height: 200px;
    border-radius: 180px;
}



.home { 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    padding-top: 100px; padding-bottom: 100px;
    height: 100%;
}

.photoHome {
    background-color: rgb(125, 70, 255,0);
    width: 200px;
    height: 200px;
    transition: background-color .5s,box-shadow .5s;
    border-radius: 180px;
    margin-bottom: 20px;
}
.photoHome:hover{
    background-color: rgb(125, 70, 255);
}



.social .ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social .icons_home {
    display: inline;
    font-size: 50px;
    color: rgb(125, 70, 255);
    transition: transform 0.5s;
}


.social .icons_home:hover {
    transform: scale(1.5);
}

.aboutMe{
    background-color: white;
    margin-top: 100px;
    height: auto;
    display: grid;
grid-template-columns: 1fr;
grid-template-rows: 150px 1fr 2fr;
}


.aboutText {
   text-align: center;
}




.aboutMeSectionOne {
    overflow: hidden;
    display: grid;
    height: 300px;
    grid-template-columns: 2fr 3fr;
    border-radius: 20px;

}


.photoText:not(:first-child) {
    transform: translateX(500px);
    overflow: hidden;
    opacity: 0;
    transition: 1s all ease;
    justify-self: flex-end;
    padding-right: 5%;
}





.photoText:not(:last-child) {

    transform: translateX(-500px);
    overflow: hidden;

    opacity: 0;
    transition: 1s all ease;
    padding-left: 5%;
    display: flex;
    align-items: center;
}


.photoText.active {

    transform: translateX(0);

    opacity: 1;
    display: flex;
    align-items: center;


}


#photoAbout {
    width: 700px;
    height: inherit;
    border-radius: 20px;
    object-fit: contain;

}



/*------------------------------AboutMeSecondSection-----------------------------------------------*/




.aboutMeSectionTwo {
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    height: 50%;
    height: auto;
}


#intrestsPlusBtns {
    padding: 10px 10px;
    align-items: center;
align-content: center;
display: grid;
}



.myIntrestsContainer {

    display: flex;
    overflow: hidden;
    width: 400px;
    height: 400px;

}



.photo {

    height: 400px;
    width: 400px;
    ;
}


.myIntrestsPhotos {
    display: flex;

    width: 200px;

    transform: translateX(0px);

    transition: 0.6s ease-in-out;

    ;
}

.intrestsBtns {
    display: flex;

    justify-content: space-between;
    padding-top: 10%;
}


.photo {
    object-fit: cover;


}



.intrestsText {
    align-self: center;
}


.intrestsText p {
    position: absolute;
    overflow: auto;
    width: 30%;
    padding-left: 5%;

}



.myIntrestsPhotos p {
    text-align: center;

}
@media screen and (max-width: 768px) {

    .aboutMe{display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

 

    .aboutMeSectionOne{
        display: unset;
        height: auto;
    }
    #photoAbout{
        width: 500px;
    }
    .myIntrestsContainer{width: 200px;
    height: 200px;}
    .photo{
        width: 200px;
        height: 200px;
    }
    .intrestsBtns{
        justify-content: space-between;
    }
    .intrestsText{align-self: unset;}

    .aboutMeSectionTwo{grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 150px;
    }
    .downloadBtn{
        position: absolute;

    }
}


/*class for intrestsText in js*/

.intrestTextJs2 {
    display: none;
}

/*-------------------------------------*/

.downloadBtn {
    align-self: flex-end;
    justify-self: end;
    padding: 10px 10px;
}

/*-------------------------------------------------------End Of About Page ---------------------------------------------------*/





/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
h1{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySkills {
    margin-top: 100px;
    background-color: white;
    display: grid;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr 300px;
    overflow: clip;
}
.mySkills h2{
    text-align: center;
}
.skillsSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 
}

#imgSkills {
    height: inherit;
    width: 700px;
    opacity: 0.9;
}

.skillsBox {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 50px;

}

.skillTab {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;

}

.points1 li {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    display: inline-block;
    transform: translateX(-100px);
    opacity: 0;
    transition: 1s ease-in;
    
}
.points2 li {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    display: inline-block;
    transform: translateX(-200px);
    opacity: 0;
    transition: 1s ease-in;
    
}
.points3 li {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    display: inline-block;
    transform: translateX(-300px);
    opacity: 0;
    transition: 1s ease-in;
    
}
.points4 li {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    display: inline-block;
    transform: translateX(-400px);
    opacity: 0;
    transition: 2s ease-in;
    
}

.progressBar ul li.points{

    background-color: rgba(6, 58, 228, 0.883);
    transform: translateX(0);
    opacity: 1;    
}



.skillsBox {
    align-items: center;
    background-color: #ffffff;
  
}

.skillBar {
    justify-items: center;
    align-items: center;
    display: grid;
    margin-right: 10px;
}

.skillsBox:not(:first-child) {

    background-color: rgb(255, 255, 255);
}





.skillIcon.icon1{
    transform: translateX(-100px);
    overflow: hidden;

    opacity: 0;
    transition: 1s all ease;
}

.skillIcon.icon2{
    transform: translateX(-200px);
    overflow: hidden;

    opacity: 0;
    transition: 1s all ease;
}

.skillIcon.icon3{
    transform: translateX(-300px);
    overflow: hidden;

    opacity: 0;
    transition: 1s all ease;
}

.skillIcon.icon4{
    transform: translateX(-400px);
    overflow: hidden;

    opacity: 0;
    transition: 1s all ease;
}

.skillIcon.roll {
    align-self: center;
    text-align: center;
    transform: translateX(0px);
    opacity: 1;
}


.skillsSection h3:nth-child(1){
    transform: translateX(-100px);
    overflow: hidden;

    opacity: 0;
    transition: 1s all ease;
}

.skillsSection h3:nth-child(2){
    transform: translateX(-200px);
    overflow: hidden;

    opacity: 0;
    transition: 1s all ease;

}
.skillsSection h3:nth-child(3){
    transform: translateX(-300px);
    overflow: hidden;

    opacity: 0;
    transition: 1s all ease;

}
.skillsSection h3:nth-child(4){
    transform: translateX(-400px);
    overflow: hidden;

    opacity: 0;
    transition: 1s all ease;

}

.skillsSection h3.rollText{
    transform: translateX(0px);
    opacity: 1;
}






.icons {
    height: 40px;
    width: 40px;
}

.progNum {
    display: flex;
    position: absolute;
    justify-self: center;
}

h6 {
    display: contents;
}
.headline{
    text-align: center;
}

@media screen and (max-width: 768px) {

    .mySkills{
      display: flex;
      flex-direction: column;

      height: auto;
    }

      

    .headLine{
        text-align: center;
    }
   #imgSkills{width:100%;}

   .skillsBox:not(:first-child){
       padding-top: 10%;
   }
   .skillsBox:not(:last-child){
       padding-bottom: 10%;
   }
}


/*-------------------------------------------------------------------*/


.myProjects{
    background-color: white;
    margin-top: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
}
.titleText{
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.projectText{ overflow:hidden;}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact{
    margin-top: 200px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
}

.photoProj{
height: 200px;
width: 200px;
}
.proj{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img{height: inherit;
width: inherit;}

.contact ul li {
    display: inline;

}


.contact.icons_home:hover{
transform: scale(1.5);
font-size: 50px;}



@media screen and (max-width: 768px) {

    .photoProj{
        height: 150px;
        width: 150px;
        justify-self: center;
align-self: center;
    }
    .titleText{display: flex;
    flex-direction: column;
}
#title{text-align: center;
   
}
.projects{
    display: flex;
    flex-direction: column;
}

.myProjects{
    display: grid;
    grid-template-rows: auto;

}
}


#footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;

}
.info{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

}
.contact .title{
    text-align: center;
    font-size:  xx-large;
}